/*============ ASIDE ==============*/
/*------------ FORM --------------*/
form {
	font-size: 13px;
}

form > div {
	margin-top: 5px;
	margin-bottom: 5px;
}

#btnSubmit {
	display: block;
	margin: 0px auto;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

/*-------- DATEPICKER ----------*/
div.datepicker tbody a {
	font-size: 12px;
}

div.datepicker thead {
    font-size: 14px;
}

div.datepicker tbody thead a,
	div.datepicker tbody.datepickerYears a,
	div.datepicker tbody.datepickerMonths a {
    font-size: 14px;
}

.bottom-margin span {
	margin-bottom: 5px;
}

div.error {
	color: red;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}