form > div {
	margin-bottom: 10px;
}

.bottom-margin {
	margin-bottom: 5px;
}

form input, form select {
	box-sizing: border-box;
	width: 105px;
}

form span.subtitle {
	display: inline-block;
	width: 90px;
}