body {
	background-image: url('../img/background-meteo.jpg');
    background-size: auto 100%;
}

section {
	width: 100%;
	height: 100%;
}

#title {
	position: absolute;
	left: 400px;
	top: 150px;
	width: 500px;
	padding: 40px;
}

#title span {
	text-align: center;
}

#title h1 {
	font-size: 40px;
	margin-bottom: 20px;
}