/*===== CSS RESET ======*/
body, aside, section, article, span, div, h1, h2, h3, h4, h5  {
	padding: 0;
	margin: 0;
}

/*=========== INCLUDING DROID SANS FROM WEB ===========*/
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

/*========== ASIDE ==========*/
aside {
	font-family: 'Droid Sans';
	font-size: 14px;
    background-color: #EEEEEE;
	height: 100%;
	box-shadow: 0 0 10px 4px lightgray; 
	width: 220px;
	position: fixed;
	float: left;
}

aside > form, aside > div {
	padding: 10px;
}

aside hr {
	color: white;
}

/*------------- NAV -------------*/
nav {
	margin-top: 10px;
}

nav > a {
	padding-left: 10px;
	display: block;
	text-decoration: none;
	width: 100%;
	height: 30px;
	vertical-align: middle;
}

nav > a:hover {
	background-color: #DDDDDD;
}

/*----------- TODAY INFO -------------*/
aside .subtitle {
	width: 90px;
	display: inline-block;
}

aside .subtitle + select, aside .subtitle + input {
	width: 105px;
	display: inline-block;
}

/*============= CONTENT ===============*/
#content  {
	margin-left: 250px;
}

article {
    box-shadow: 0 0 10px 4px lightgray; 
    background-color: white;
	//margin-top: 10px;
	margin-bottom: 10px;
	width: 910px;
}
