article {
	padding: 20px;
	padding-left: 40px;
	box-sizing: border-box;
}

article > div {
	margin-bottom: 10px;
}

#results {
	border: 1px solid #000;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	overflow: auto;
	background: #eee;
	display: none;
}

#percentage {
	text-align: left;
	margin-left: 5px;
}

#numYear {
	width: 60px;
	margin-left: 10px;
}

#artDetails {
	display: none;
}