/*Css for page title fixed at top*/
/*
	To use this, just put your title in <h1> tag
	within the first article tag with id="main-title".
	Then put a <div> tag with id="spacer".
*/

#main-title  {
	position: fixed;
	z-index: 9000;
	padding: 0;
	box-shadow: 0px -2px 8px 5px #D3D3D3;
}

#main-title h1 {
	text-align: center;
	padding: 15px 0px;
}

div#spacer {
	padding-top: 80px;
}
