body {
	//background-image: url('../img/background-meteo.jpg');
    //background-size: auto 100%;
	background-color: white;
	width: 100%;
	font-size: 2em;
}

section {
	width: 100%;
}

#title {
	margin: 10%;
	padding: 5%;
	font-family: initial;
}

#title span {
	text-align: center;
}

#title h1 {
	font-size: 2em;
	margin-bottom: 5%;;
}

#todayInfo {
	display: block;
}