/*===== CSS RESET ======*/
body, aside, section, article, span, div, h1, h2, h3, h4, h5  {
	padding: 0;
	margin: 0;
}

/*=========== INCLUDING DROID SANS FROM WEB ===========*/
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

body {
	font-family: 'Droid Sans';
}

/*========== ASIDE ==========*/
aside {
    background-color: #EEEEEE;
	width: 100%;
}

hr {
	border: 2px solid white;
}


/*------------- NAV -------------*/
nav > a {
	padding-top: 1em;
	padding-bottom: 1em;
	
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: 45%;
	vertical-align: middle;
}

nav > a:hover {
	background-color: #DDDDDD;
}

/*----------- TODAY INFO -------------*/

aside .subtitle {
	display: inline-block;
}

#todayInfo  {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 5%;
	display: none;
}

#todayInfo  .data {
	display: inline-block;
	width: 45%;
	text-align: center;
}

#todayInfo h3 {
	text-align: center;
	margin-bottom: 2%;
}

/*============= CONTENT ===============*/
article {
    box-shadow: 0 0 10px 4px lightgray;
	background-color: #DDDDDD;
}